@use './src/styles/mixins/fonts' as *;
@use './src/styles/colours' as *;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include font-ui;
}


a {
  text-decoration: none;
}


button {
  cursor: pointer;

  &.ui {
    padding: 0.25em;
    @include font-ui;
    background: none;
    border: none;
    transition: background-color 0.2s;

    &:disabled {
      color: var(--col-text-deut);
    }

    &:not(:disabled):hover {
      background-color: rgb(black, 20%);
    }
  }

  &.rounded {
    aspect-ratio: 1;
    border-radius: 50%;
  }
}
