@use './src/styles/mixins/fonts' as *;
@use './src/styles/colours' as *;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  @include font-ui;
  font-size: 80%;
}


button {
  &:not(:disabled) {
    cursor: pointer;
  }
}
