@use './src/styles/mixins/fonts' as *;
@use './src/styles/colours' as *;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  @include font-ui;
  font-size: 80%;
}


button {
  &:not(:disabled) {
    cursor: pointer;
  }

  &.ui {
    padding: 0.25em;
    @include font-ui;
    background: none;
    border: none;
    transition: background-color 0.2s;

    &:disabled {
      color: var(--col-text-deut);
    }

    &:not(:disabled):hover {
      background-color: var(--col-hover);
    }
  }

  &.rounded {
    aspect-ratio: 1;
    border-radius: 50%;
  }
}
