@use './fonts' as *;


@mixin frost-blur {
  backdrop-filter: blur(8px);
}
@mixin shadow-block {
  box-shadow: 0 0 8px rgb(black, 40%);
}
@mixin ui-block {
  @include frost-blur;
  @include shadow-block;
}


button {
  &.ui {
    min-width: 1rem;
    min-height: 1rem;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;

    @include font-ui;
    background: none;
    border: none;
    transition: color 0.2s, background-color 0.2s;

    &:disabled {
      color: var(--col-text-deut);
    }

    &:not(:disabled):hover {
      color: var(--col-prot);
      background-color: var(--col-hover);
    }
  }

  &.rounded {
    aspect-ratio: 1;
    border-radius: 50%;
  }
}
